.image_1_1 {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    display: inline-block;

}
.search_bar{
    display: block;
}
.heading_1{
    margin-top: 0px;
    line-height:20px;
    font-weight: bold;
    vertical-align: top;
    margin-bottom: 0px;
}
.name_1{

}
.stats_1{

}
.video_preview{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-left: 05px;

}
.iconpic_1{
    width: 40px;
    display: inline-block;
    padding-top: 4px;
    border-radius: 20px;
    height: 40px;
}

.vid_img{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}

.main_div{
    display: inline-block;
}

